@page "/YesOrNo"
<h1 style="font-size: medium">
    В этом оракуле – гадании «Да-Нет» – вы сможете рассчитывать на точный ответ на свой вопрос в онлайн режиме.
        Здесь не будет никаких долгих рассуждений или общих фраз, не несущих конкретного содержания…
        Только чёткое и конкретное «да», «нет» или же короткий ответ, указывающий на возможность первого либо второго.
        Ведь бывает, - правда же? - что однозначное будущее для события ещё не предопределено, и его перспективы можно обозначить только с той или иной степенью вероятности.
        Оракул можно использовать для какого угодно вопроса – от финансового до интимного. От вас требуется только корректно сформулировать его. Корректно - в данном случае означает так, чтобы на него можно было недвусмысленно ответить «да», или «нет», или «не знаю».
        Далее мысленно или вслух произнесите то, о чём задумали, сконцентрировавшись на этом. И затем, щёлкнув по кнопке, прочтите ответ, появившийся на магическом шаре.
        Поскольку наше гадание бесплатное, вы можете пользоваться им с удовольствием и пользой для себя не ограничено.
</h1>

<br/>
<br/>
<br/>
<button class="button-10" @onclick="() => _answer = GenerateRandom()">Сгенерировать!</button>

<br/>
<p>Ответ - @_answer</p>


<div>

</div>

@code {
    string? _answer;

    static string? GenerateRandom()
    {
        switch (Random.Shared.Next(100))
        {
            case < 25:
                return "Да";
            case < 50:
                return "Нет";
            case < 75:
                return "Возможно да";
            default:
                return "Возможно нет";
        }
    }

}